*{
	margin: 0px;
	padding: 0px;
}
/*.....Header...............................................................*/
#header{background-image:url('../imagenes/fondohead.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
width: 100%
}
.inner-header{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.inner-header h1{
	font-size: 60px;
	color: #fff;
}

.inner-header img{
	margin-bottom: 50px;
}

.inner-header a{
	font-size: 18px;
	margin: 0 10px;
	width: 228px;
	height: 58px;
	display: inline-block;
	color: #fff;
	background-image: url(../imagenes/sprite.png);
	line-height: 58px;
}

.inner-header a.black{
	background-position: bottom;
}

.inner-header a.black:hover{
	background-position: top;
}

.inner-header a.white:hover{
	background-position: bottom;
}





/*.....Presentacion.........................................................*/
#seccion{background-image:url('../imagenes/fondo.jpg');
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100% 100%;
height: 640px;
width: 100%
}

.Presentacion{ display: flex; justify-content: center; flex-wrap: wrap;
}
.comida{text-align: center; margin-right: 20px;}

.h2{ font-size: 3em;
    color: #cc9900;
    margin-bottom: .4em;
    padding-top: 80px
}

.alimentos{
	margin-top: 20px;
    padding-left: 20%;
}

.carne{
	 padding-top: 40px;
}


/*.....Introduccion.........................................................*/





/*.....Menu.................................................................*/
.ingredients{
	min-height: 800px;
	background: url('../imagenes/sec2bg.jpg');
	background-position: center;
	background-size: cover;
}

.inner-ingredients{
	padding: 100px;
}
.inner-ingredients-block{
	width: 500px;;
	height: 500px;
	background: url('../imagenes/sec2textbg.png');
	margin-left: 55%;
	padding: 50px;
	text-align: center;
}

.inner-ingredients-block h2{
	font-size: 30px;
	color: #fff;
	margin-bottom: 30px;
}

.inner-ingredients-block p{
	color: #fff;
	font-size: 18px;
	width: 80%;
	margin: 0 auto 70px auto;

}

.menu{
	min-height: 900px;
	background: url("../imagenes/sec3bg.png");
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
}

.inner-menu{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.inner-menu > div{
	flex-basis: 40%;
	text-align: center;
	margin: 0 auto;
}

.inner-menu > div h2{
	color: #ffc74a;
	font-size: 40px;
}

.inner-menu  div span{
	border-bottom: 1px solid #ffc74a;
}

.spec{
	background-image: url("../imagenes/menuborder.png");
	width: 455px;
	height: 102px;
	margin: 10px auto;
}

.inner-menu i{
	color: #ffc74a;
	font-size: 20px;
}

.menuGroup3{
	padding-top: 94px;
}
